.card {
  margin-top: 264px;
  margin-bottom: 70px;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  @media (max-width: $tablet-width-only) {
    margin-top: 157px;
    margin-bottom: 69px;

    &--menu {
      margin-top: 915px;
    }
  }

  @media (max-width: $mobile-width-only) {
    margin-top: 93px;
    margin-bottom: 43px;

    ul {
      margin-left: 8px;
      margin-right: 10px;
    }
  }
}

.card__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1070px;

  @media (max-width: $mobile-width-only) {
    display: block;
  }
}

.card__photos {
  display: grid;
  grid-template-areas: "small big";
  grid-template-columns: 100px 470px;
  column-gap: 30px;

  @media (max-width: $tablet-width-only) {
    grid-template-areas: "big" "small";
    grid-template-columns: 1fr;
    grid-template-rows: 286px 129px;
    gap: 14px;
    width: 47%;
  }

  @media (max-width: $mobile-width-only) {
    display: block;
    margin-bottom: 45px;
    width: 100%;

    img {
      width: 100%;
    }
  }
}

.card__small {
  grid-area: small;

  li {
    margin-bottom: 30px;
    height: 125px;
  }

  @media (max-width: $tablet-width-only) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 14px;
  }

  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.card__big {
  grid-area: big;
}

.card__description {
  width: 35%;
  color: $letter;

  h2 {
    margin-top: -10px;
    margin-bottom: 12px;
    margin-left: 5px;
    font-weight: 700;
    font-size: 34px;
    line-height: 130%;

    @media (max-width: $tablet-width-only) {
      margin-left: 0;
    }
  }

  p {
    margin-top: 0;
    margin-bottom: 39px;
    margin-left: 13px;
    font-family: "Poppins", "Arial", sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 130%;

    @media (max-width: $tablet-width-only) {
      margin-left: 0;
    }

    @media (max-width: $mobile-width-only) {
      margin-bottom: 29px;
    }
  }

  @media (max-width: $tablet-width-only) {
    width: 47%;
  }

  @media (max-width: $mobile-width-only) {
    width: 100%;
  }
}

.card__info {
  h3,
  p {
    display: inline;
    padding-right: 26px;
    font-family: "Poppins", "Arial", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
  }

  h3 {
    padding-left: 5px;
    color: $grey-letter;

    @media (max-width: $tablet-width-only) {
      padding-left: 0;
      padding-right: 30px;
    }

    @media (max-width: $mobile-width-only) {
      padding-right: 34px;
    }
  }

  table {
    margin-top: 19px;
    margin-bottom: 54px;
    margin-left: 2px;
    width: 100%;
    font-family: "Poppins", "Arial", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    border-collapse: collapse;

    td {
      height: 38px;
      border-bottom: 1px solid $line;
    }

    tr:last-child {
      td {
        padding-top: 9px;
      }
    }

    @media (max-width: $tablet-width-only) {
      margin-left: 0;

      tr:last-child {
        padding-top: 12px;
        padding-left: 5px;
      }
    }

    @media (max-width: $mobile-width-only) {
      margin-top: 21px;
      margin-bottom: 42px;

      td {
        height: 39px;
      }

      tr:last-child {
        td:first-child {
          padding-top: 12px;
          padding-left: 5px;
        }
      }
    }
  }
}

.card__feature-value {
  text-align: right;
}

.card__button {
  position: relative;
  left: 3px;
  display: block;
  margin-bottom: 17px;
  width: 100%;
  height: 68px;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: $white;
  background-color: $under-line;
  border: none;

  &::after {
    content: "Add to cart";
    position: absolute;
    height: 20px;
    width: 100px;
    top: 50%;
    left: 51%;
    transform: translateX(-50%) translateY(-50%);
  }

  @media (max-width: $tablet-width-only) {
    left: 0;
  }

  @media (max-width: $mobile-width-only) {
    margin-bottom: 10px;
  }
}

.card__conditions {
  display: flex;
  justify-content: space-between;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: $grey-letter;

  @media (max-width: $tablet-width-only) {
    font-size: 12px;
  }

  @media (max-width: $mobile-width-only) {
    text-align: center;

    li {
      width: 19%;
    }
  }
}
