.container {
  position: relative;
  margin: 0 auto;
  max-width: 1170px;


  @media (max-width: $tablet-width-only) {
    max-width: 678px;
  }

  @media (max-width: $mobile-width-only) {
    max-width: 90%;
    min-width: 290px;
  }

  &--air {
    width: 96%;
  }
}
