.faq {
  margin-bottom: 108px;
  max-width: 970px;

  h2 {
    text-align: center;
    color: $letter;
    margin: 0 0 48px 0;
    font-weight: bold;
    font-size: 34px;
    line-height: 130%;
    letter-spacing: 0.03em;

    @media (max-width: $mobile-width-only) {
      margin-bottom: 29px;
    }
  }

  ul {
    list-style: none;
    padding: 0;
  }

  @media (max-width: $tablet-width-only) {
    margin-bottom: 69px;
    max-width: 678px;
  }

  @media (max-width: $mobile-width-only) {
    margin-bottom: 56px;

    ul {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

.faq__question {
  position: relative;
  border: 1px solid $under-line;
  margin-top: -1px;

  h4,
  p {
    margin: 0;
    font-family: "Poppins", "Arial", sans-serif;
  }

  h4 {
    padding-top: 44px;
    padding-bottom: 43px;
    padding-left: 43px;
    padding-right: 43px;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;

    @media (max-width: $tablet-width-only) {
      padding-left: 50px;
      padding-bottom: 45px;
      margin-bottom: -1px;
    }

    @media (max-width: $mobile-width-only) {
      padding-left: 23px;
      padding-top: 18px;
      padding-bottom: 20px;
      width: 100%;
      font-size: 16px;
      line-height: 140%;

      &::after {
        top: 30px;
        right: 20px;
      }
    }
  }

  @include close-open(50px, 49px);

  p {
    margin-left: 50px;
    margin-top: -34px;
    margin-bottom: 43px;
    max-width: 525px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.01em;

    @media (max-width: $tablet-width-only) {
      margin-top: -19px;
      max-width: 537px;
      letter-spacing: 0.01em;
    }

    @media (max-width: $mobile-width-only) {
      margin-top: -15px;
      margin-left: 23px;
      margin-right: 55px;
      font-size: 14px;
      line-height: 143%;
    }
  }
}
