.footer {
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: $black;
  color: $white;
  font-family: "Poppins", "Arial", sans-serif;

  ul {
    padding: 0;
    list-style: none;
  }
}

.footer__email {
  @media (max-width: $tablet-width-only) {
    grid-area: email;
  }
}

.footer__email-header {
  width: 412px;

  @media (max-width: $mobile-width-only) {
    padding-top: 60px;
    padding-right: 68px;
    width: 100%;
  }

  h3 {
    margin: 0;
    font-family: "Cormorant Garamond", "Times New Roman", serif;
    font-weight: 700;
    font-size: 34px;
    line-height: 130%;
    letter-spacing: 0.02em;

    @media (max-width: $tablet-width-only) {
      margin-bottom: 25px;
    }

    @media (max-width: $mobile-width-only) {
      margin-bottom: 30px;
    }
  }

  h4 {
    margin: 0 auto 34px auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    width: 328px;
    color: $grey-letter;

    @media (max-width: $tablet-width-only) {
      width: 100%;
    }

    @media (max-width: $mobile-width-only) {
      margin-bottom: 50px;
      text-align: left;
    }
  }
}

.footer__email-wrapper {
  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid $white;

  input {
    margin-bottom: 6px;
    border: none;
    color: $white;
    background-color: $black;
    font-size: 14px;

    &:focus,
    &:hover {
      opacity: 0.7;
    }

    @media (max-width: $mobile-width-only) {
      width: 60%;
    }
  }

  p {
    position: relative;
    margin-top: 0;
    margin-bottom: 11px;
    margin-right: 40px;
    color: $white;

    &::after {
      content: "";
      position: absolute;
      right: -40px;
      top: 5px;
      width: 29px;
      height: 9px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      background-image: url("../img/next-white.svg");
    }

    @media (max-width: $mobile-width-only) {
      margin-bottom: 7px;
    }
  }
}

.footer__wrapper {
  display: grid;
  grid-template-columns: 500px 178px 136px 115px;
  justify-content: space-between;
  margin-top: 89px;
  margin-bottom: 100px;

  @media (max-width: $tablet-width-only) {
    grid-template-columns: none;
    grid-template-areas: "email email email"
      "main add socials";
    column-gap: 86px;
    row-gap: 50px;
    margin-top: 60px;
    margin-bottom: 0;
    padding-bottom: 60px;
  }

  @media (max-width: $mobile-width-only) {
    display: block;
    margin-bottom: 60px;
  }
}

.footer__other {
  &--pad {
    margin-left: -16px;
  }

  @media (max-width: $tablet-width-only) {
    &--main {
      grid-area: main;
    }

    &--pad {
      grid-area: add;
      margin-left: 0;
    }
  }

  @media (max-width: $mobile-width-only) {
    margin-top: 50px;
  }

  ul {
    margin-left: 10px;
    margin-top: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;

    li {
      margin-bottom: 21px;
    }


    @media (max-width: $mobile-width-only) {
      display: block;
      margin-bottom: 50px;
    }
  }

  li {
    &:focus,
    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.3;
    }

    @media (max-width: $mobile-width-only) {
      margin-bottom: 30px;
    }
  }
}

.footer__socials {
  margin-top: 7px;
  margin-left: 29px;

  li {
    position: relative;
    margin-bottom: 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
  }

  @media (max-width: $mobile-width-only) {
    display: flex;

    li {
      margin-right: 30px;
    }
  }
}

.footer__social {
  svg {
    position: absolute;
    left: -28px;

    @media (max-width: $mobile-width-only) {
      left: 0;
    }
  }

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }

  @media (max-width: $tablet-width-only) {
    grid-area: socials;
  }

  @media (max-width: $mobile-width-only) {
    span {
      display: none;
    }
  }
}
