.footer {
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: $black;
  color: $white;
  font-family: "Poppins", "Arial", sans-serif;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

.footer__email {
  @media (max-width: $tablet-width-only) {
    grid-area: email;
  }
}

.footer__email-header {
  width: 407px;

  h3 {
    margin: 0;
    font-family: "Cormorant Garamond", "Times New Roman", serif;
    font-weight: 700;
    font-size: 34px;
    line-height: 130%;

    @media (max-width: $tablet-width-only) {
      margin-bottom: 25px;
    }
  }

  h4 {
    margin: 0 auto 54px auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    width: 328px;
    color: $grey-letter;

    @media (max-width: $tablet-width-only) {
      width: 100%;
    }
  }
}

.footer__email-wrapper {
  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid $white;

  input {
    margin-bottom: 1px;
    border: none;
    color: $white;
    background-color: $black;

    &:focus,
    &:hover {
      opacity: 0.7;
    }
  }

  p {
    position: relative;
    margin-top: 0;
    margin-bottom: 15px;
    margin-right: 40px;
    color: $white;

    &::after {
      content: "";
      position: absolute;
      right: -40px;
      top: 5px;
      width: 29px;
      height: 9px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      background-image: url("../img/next-white.svg");
    }
  }
}

.footer__wrapper {
  display: grid;
  grid-template-columns: 500px 380px 115px;
  justify-content: space-between;

  margin-top: 100px;
  margin-bottom: 100px;

  @media (max-width: $tablet-width-only) {
    grid-template-columns: none;
    grid-template-areas: "email email"
      "other socials";
    gap: 50px;
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.footer__other {
  @media (max-width: $tablet-width-only) {
    grid-area: other;
  }

  ul {
    display: grid;
    grid-template-columns: 220px 220px;
    row-gap: 30px;
    column-gap: 18px;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
  }

  li {
    &:focus,
    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.footer__socials li {
  position: relative;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
}

.footer__social {
  @media (max-width: $tablet-width-only) {
    grid-area: socials;
  }

  &::after {
    content: "";
    position: absolute;
    left: -20px;
    top: 5px;
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  &--facebook::after {
    width: 8px;
    background-image: url("../img/facebook.svg");
  }

  &--instagram::after {
    background-image: url("../img/instagram.svg");
  }

  &--pinterest::after {
    background-image: url("../img/pinterest.svg");
  }

  &--twitter::after {
    width: 13px;
    background-image: url("../img/twitter.svg");
  }

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}
