.main-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: $letter;
  border-bottom: 1px solid $line;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;

  @media (max-width: $tablet-width-only) {
    border: none;

    &--opened {
      background-color: $menu-background;

      .main-header__button {
        background-color: $menu-background;
        color: $white;
      }

      .main-header__logo,
      .main-header__login svg {
        color: $white;
      }

      .main-header__login svg {
        fill: $menu-background;
      }
    }
  }
}

.main-header__wrap {
  margin-top: 16px;
  margin-bottom: 29px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;

  @media (max-width: $tablet-width-only) {
    margin-top: 9px;
  }

  @media (max-width: $mobile-width-only) {
    margin-top: -8px;
  }
}

.main-header__logo {
  margin-right: 90px;
  margin-bottom: -30px;
  color: $menu-background;

  @media (max-width: $tablet-width-only) {
    margin-right: 31px;
  }

  @media (max-width: $mobile-width-only) {
    width: 52px;
    height: 52px;
  }
}

.main-header__wrap-right {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 124px;

  a:focus,
  a:hover {
    opacity: 0.7;
  }

  a:active {
    opacity: 0.3;
  }

  svg {
    display: none;
    color: $letter;

    @media (max-width: $tablet-width-only) {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 20px;
      height: 19px;
      fill: $white;
    }
  }

  p {
    padding: 0 0 0 5px;
  }

  @media (max-width: $tablet-width-only) {
    width: 20px;

    p {
      display: none;
    }
  }
}

.main-header__button {
  display: none;

  @media (max-width: $tablet-width-only) {
    display: block;
    position: relative;
    top: 13px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: none;
    background-color: $white;

    &:hover {
      opacity: 0.7;
    }

    &::before {
      content: "";
      position: absolute;
      top: 15px;
      left: 0;
      width: 25px;
      height: 2px;
      background-color: $letter;
      cursor: pointer;
      box-shadow:
        0 7px 0 0 $black,
        0 14px 0 0 $black;
    }

    &--opened::before {
      background-color: $white;
      box-shadow:
        0 7px 0 0 $white,
        0 14px 0 0 $white;
    }

    &--clicked {
      display: none;
    }
  }

  &--no-js {
    @media (max-width: $tablet-width-only) {
      display: none;
    }
  }
}
