@mixin under-line-h3($length: 80px, $bottom: 0, $mb: 60px) {
  h3 {
    @include under-line($length, $bottom, $mb);
  }
}

@mixin under-line($length: 80px, $bottom: 0, $mb: 60px) {
  margin: 0 0 $mb 0;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;

  &::after {
    content: "";
    position: absolute;
    bottom: $bottom;
    height: 1px;
    left: 50%;
    transform: translateX(-50%);
    width: $length;
    background-color: $under-line;
  }
}

@mixin header-subheader($mb: 26px) {
  h2,
  h3 {
    position: relative;
    text-align: center;
    color: $letter;
  }

  h2 {
    margin: 0 0 $mb 0;
    font-weight: 700;
    font-size: 34px;
    line-height: 130%;
    letter-spacing: 0.03em;
  }
}

@mixin close-open($top: 50px, $right: 60px) {
  h4:hover {
    cursor: pointer;
    opacity: 0.7;
  }

  &--closed {
    p,
    div {
      display: none;
    }

    h4::after {
      content: "";
      position: absolute;
      top: $top;
      right: $right;
      width: 16px;
      height: 9px;
      background-image: url("../img/closed.svg");
    }
  }

  &--opened {
    h4::after {
      content: "";
      position: absolute;
      top: $top;
      right: $right;
      width: 16px;
      height: 9px;
      background-image: url("../img/closed.svg");
      transform: rotate(180deg);
    }
  }
}

@mixin close-button ($width: 23px, $color: $letter) {
  position: absolute;
  top: 20px;
  right: 26px;
  width: 33px;
  height: 33px;
  background-color: transparent;
  border: 0;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 5px;
    width: $width;
    height: 2px;
    background-color: $color;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::after {
    transform: scale(1.2)  rotate(-45deg);
    opacity: 0.5;
  }

  &:hover::before {
    transform: scale(1.2)  rotate(45deg);
    opacity: 0.5;
  }
}
