.newest {
  margin-bottom: 48px;

  @include header-subheader(28px);

  span {
    font-size: 42px;
  }

  @include under-line-h3(74px, -6px, 65px);

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  @media (max-width: $tablet-width-only) {
    margin-bottom: 18px;

    h2 {
      margin-bottom: 16px;
    }
  }
}

.newest__photos {
  display: grid;
  grid-template-areas: "left center right";
  grid-template-columns: 19.7% 34% 41%;
  gap: 2.5%;
}

.newest__left {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  grid-area: left;
}

.newest__center {
  grid-area: center;
}

.newest__right {
  grid-area: right;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 35.4%;
}

.newest__top {
  align-self: flex-start;

  &--left {
    width: 48.3%;
  }

  &--right {
    width: 45.4%;
  }
}

.newest__bottom {
  align-self: flex-end;

  &--left {
    width: 45.4%;
  }

  &--right {
    width: 48.3%;
  }
}
