.newest {
  margin-bottom: 126px;

  @include header-subheader(28px);

  span {
    font-size: 42px;
  }

  @include under-line-h3(74px, -6px, 65px);

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  @media (max-width: $tablet-width-only) {
    max-width: 678px;
    margin-bottom: 76px;

    h2 {
      margin-bottom: 19px;
    }
  }

  @media (max-width: $mobile-width-only) {
    margin-bottom: 55px;

    h2 {
      margin-bottom: 18px;
    }

    h3 {
      margin-bottom: 52px;
    }
  }
}

.newest__photos {
  display: grid;
  grid-template-areas: "left center right";
  grid-template-columns: 19.7% 34% 41%;
  gap: 2.6%;

  ul {
    height: 414px;

    @media (max-width: $tablet-width-only) {
      height: 240px;
    }

    @media (max-width: $mobile-width-only) {
      height: 362px;
    }
  }

  @media (max-width: $tablet-width-only) {
    grid-template-columns: 133px 240px 274px;
  }

  @media (max-width: $mobile-width-only) {
    grid-template-areas: "left center";
    grid-template-columns: 44.8% 50%;
    column-gap: 5.2%;
  }
}

.newest__left {
  grid-area: left;
  display: grid;
  grid-template-rows: 1fr 1fr;

  img {
    height: 100%;
  }

  li:first-child {
    margin-bottom: 23px;

    @media (max-width: $tablet-width-only) {
      margin-bottom: 10px;
    }

    @media (max-width: $mobile-width-only) {
      margin-bottom: 0;
    }
  }

  li:last-child {
    display: none;
  }

  @media (max-width: $mobile-width-only) {
    grid-template-rows: 130px 87px 115px;
    gap: 15px;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    li:last-child {
      display: block;
    }
  }
}

.newest__center {
  grid-area: center;

  li,
  img {
    height: 100%;

    @media (max-width: $mobile-width-only) {
      height: 226px;
    }
  }

  &--hide {
    display: none;

    @media (max-width: $mobile-width-only) {
      display: block;
      margin-top: 15px;

      img {
        height: 121px;
        width: 100%;
      }
    }
  }
}

.newest__right {
  grid-area: right;
  position: relative;
  height: 35.4%;

  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.newest__top {
  &--left {
    width: 48.3%;
    position: absolute;
    top: 0;
    left: 0;
  }

  &--right {
    width: 45.4%;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.newest__bottom {
  &--left {
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 45.4%;
  }

  &--right {
    position: absolute;
    bottom: -4px;
    right: 0;
    width: 48.3%;
  }
}
