.newest {
  margin-bottom: 130px;
  max-width: 1170px;

  @include header-subheader;

  span {
    font-size: 42px;
  }

  @include under-line(74px);

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.newest__photos {
  display: grid;
  grid-template-areas: "left center right";
  grid-template-columns: 19.7% 34.2% 41%;
  gap: 2.5%;
}

.newest__left {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  grid-area: left;
}

.newest__center {
  grid-area: center;
}

.newest__right {
  grid-area: right;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 400px;
}

.newest__top {
  align-self: flex-start;
}

.newest__bottom {
  align-self: flex-end;
}
