.promo {
  margin-top: 184px;
  height: 463px;
  background-color: $under-layer;
  background-image: url("../img/main-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  @media (min-resolution: 1.5dppx) {
    background-image: url("../img/main-desktop@2x.jpg");
  }

  @media (max-width: $tablet-width-only) {
    margin-top: 133px;
    background-image: url("../img/main-tablet@1x.jpg");
    box-shadow: none;

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/main-tablet@2x.jpg");
    }

    &--menu {
      margin-top: 900px;
    }
  }

  @media (max-width: $mobile-width-only) {
    margin-top: 93px;
    background-image: url("../img/main-mobile@1x.jpg");

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/main-mobile@2x.jpg");
    }
  }

  h2,
  h3 {
    position: relative;
    left: -8px;
    text-align: center;
    color: $white;
  }

  h2 {
    margin: 181px 0 -6px 0;
    font-weight: bold;
    font-size: 45px;
    line-height: 130%;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    @media (max-width: $tablet-width-only) {
      left: 0;
      letter-spacing: 0;
    }

    @media (max-width: $mobile-width-only) {
      margin: 189px 0 -7px 0;
      font-size: 38px;
    }
  }

  h3 {
    margin: 0;
    font-style: italic;
    font-weight: 400;
    font-size: 38px;
    line-height: 130%;

    @media (max-width: $tablet-width-only) {
      left: 0;
    }

    @media (max-width: $mobile-width-only) {
      font-size: 34px;
    }
  }

  &--all-jellery {
    height: 261px;
    background-image: url("../img/annicken-desktop@1x.jpg");
    box-shadow: none;

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/annicken-desktop@2x.jpg");
    }

    h2 {
      margin-top: 91px;
      margin-bottom: 3px;
      font-size: 34px;
      line-height: 130%;

      @media (max-width: $mobile-width-only) {
        margin-top: 79px;
        margin-bottom: 0;
      }
    }

    h3 {
      font-size: 22px;

      @media (max-width: $mobile-width-only) {
        margin-left: 20px;
        margin-right: 20px;
      }
    }
  }
}
