.promo {
  margin-top: 190px;
  height: 463px;
  background-color: $under-layer;
  background-image: url("../img/main-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  @media (min-resolution: 1.5dppx) {
    background-image: url("../img/main-desktop@2x.jpg");
  }

  @media (max-width: $tablet-width-only) {
    margin-top: 130px;
    background-image: url("../img/main-tablet@1x.jpg");
    box-shadow: none;

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/main-tablet@2x.jpg");
    }

    &--menu {
      margin-top: 900px;
    }
  }

  @media (max-width: $mobile-width-only) {
    background-image: url("../img/main-mobile@1x.jpg");

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/main-mobile@2x.jpg");
    }
  }

  h2,
  h3 {
    position: relative;
    text-align: center;
    color: $white;
  }

  h2 {
    margin: 195px 0 20px 0;
    font-weight: bold;
    font-size: 45px;
    line-height: 130%;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    @media (max-width: $mobile-width-only) {
      margin: 200px 0 16px 0;
      font-size: 38px;
    }
  }

  h3 {
    margin: 0;
    font-style: italic;
    font-weight: 400;
    font-size: 38px;
    line-height: 130%;

    @media (max-width: $mobile-width-only) {
      font-size: 34px;
    }
  }

  &--all-jellery {
    height: 261px;
    background-image: url("../img/annicken-desktop@1x.jpg");
    box-shadow: none;

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/annicken-desktop@2x.jpg");
    }

    h2 {
      margin-top: 102px;
      font-size: 34px;
      line-height: 130%;
    }

    h3 {
      font-size: 22px;
    }
  }
}
//     &::after {
//       content: "";
//       position: absolute;
//       left: -94px;
//       top: 15px;
//       width: 66px;
//       height: 2px;
//       background-color: $white;

//       @media (max-width: $tablet-width-only) {
//         left: -50px;
//         top: 13px;
//         width: 33px;
//       }
//     }
//   }

//   img {
//     position: absolute;
//     right: -75px;
//     margin-top: -58px;

//     @media (max-width: $tablet-width-only) {
//       top: -17px;
//       right: -300px;
//       width: 465px;
//       height: 340px;
//     }

//     @media (max-width: $mobile-width-only) {
//       width: 301px;
//       height: 220px;
//       left: 50%;
//       transform: translateX(-50%);
//       top: -135px;
//     }
//   }
// }

// .promo__inner {
//   display: flex;
// }

// .promo__wrap {
//   margin-right: 20px;

//   @media (max-width: $mobile-width-only) {
//     margin-right: auto;
//     margin-left: auto;
//   }
// }

// .promo__link {
//   position: relative;
//   display: block;
//   margin-left: 94px;
//   padding: 19px 45px;
//   z-index: 1;
//   cursor: pointer;
//   width: 407px;
//   height: 55px;
//   text-transform: uppercase;
//   font-weight: 700;
//   font-size: 16px;
//   line-height: 19px;
//   letter-spacing: 0.05em;
//   border: none;
//   border-radius: 5px;
//   color: $white;
//   background-color: $light-blue;

//   &:hover,
//   &:focus {
//     color: $grey;
//   }

//   &:active {
//     color: $grey;
//     opacity: 0.5;
//   }

//   @media (max-width: $tablet-width-only) {
//     padding: 19px 31px;
//     margin-left: 42px;
//     width: 379px;
//   }

//   @media (max-width: $mobile-width-only) {
//     margin-left: 2px;
//     width: 287px;
//   }

//   &--not-mobile {
//     @media (max-width: $mobile-width-only) {
//       display: none;
//     }
//   }

//   &--mobile {
//     @media (min-width: $mobile-width-only) {
//       display: none;
//     }
//   }
// }

// .promo__scroll {
//   position: absolute;
//   left: -36px;
//   bottom: -149px;
//   color: $white;
//   font-family: "PT Mono", "Arial", sans-serif;
//   font-style: normal;
//   font-weight: 400;
//   font-size: 14px;
//   line-height: 16px;
//   letter-spacing: -0.02em;
//   text-transform: none;
//   opacity: 0.5;
//   transform: rotate(-90deg);

//   @media (max-width: $tablet-width-only) {
//     display: none;
//   }

//   &:hover,
//   &:focus {
//     opacity: 1;
//   }

//   &:active {
//     color: $grey;
//     opacity: 0.5;
//   }
// }
