// цвета элементов
$under-layer: #755d4d;
$under-line: #a87b62;
$menu-background: #a87b62;
$menu-seek-field: rgba(255, 255, 255, 0.15);
$menu-letter: rgba(255, 255, 255, 0.75);
$line: #f6f5f4;
$letter: #1d1613;
$grey-letter: #9b9997;
$main-ground: #f0eae4;
$overlay-card: rgba(0, 0, 0, 0.3);

// стандартные цвета
$black: #000000;
$white: #ffffff;

// Реальные брейкпойнты
$tablet-width: 768px;
$mobile-width-only: ($tablet-width - 1px);
$desktop-width: 1024px;
$tablet-width-only: ($desktop-width - 1px);

// Лимиты изменений
$max-width: 1417px;
$min-width: 320px;

// Брейк-пойнт многоколоночного слайдера
$slider-width: 450px;
